* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.buttonDownload {
  background-image: linear-gradient(to right, #be0100, #8d0001);
  border-radius: 30px;
  width: 20%;
  height: 12%;
}
.buttonDownload a {
  color: #ffff;
}
